::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #198754;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.order-history-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.order-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-heading {
  margin-top: 20px;
  margin-bottom: 10px;
}

.order-history-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.order-card {
  max-width: 335px;
  margin: 1rem;
  /* cursor: pointer; */
}

.order-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}
.card-container-img{

 background-image:url("https://media.istockphoto.com/id/184946701/photo/pizza.jpg?s=1024x1024&w=is&k=20&c=L8h3NUxinbmrBkSc7ETJHHxlEn6qYX4xzqIahI1Nh10=");
 height:550px;
 background-position: center;
 background-size: cover;
 /* display: flex;
 align-items: center;
 justify-content: center; */
 box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6); 
}

.img-text{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 50px;
padding: 200px;
  /* align-items: center; */
 
  
}
.text{
  /* border: 2px solid red; */
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  
}

.text > p{
  font-size: 25px;
}

.text > Button{
  border: 2px solid black;
  background-color: #103624;
  color: white;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  cursor: pointer;
  
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  
}
.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}
.product-div {
  /* height: calc(64vh - 34px); */
}

.card {
  max-width: 335px;
  margin: 1rem;
  cursor: pointer;
}
.card-1{
  max-width: 280px;
  margin: 1rem;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #f5f5f5;
}

.pagination-container {
  margin-bottom: 10px;
}

.search-bar {
  width: 300px;
}
.form-control {
  margin-top: 9px !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-container {
  display: flex;
  margin-left: 100px;
  padding-top: 5px;
}

.profile-icon {
  font-size: 20px;
  color: black;
  margin-top: 3px !important;
}
.profile-icon-i {
  height: 39px;
  border-radius: 100%;
  margin-left: 15px;
}

.dropdown-menu {
  right: 15px;
}
.page-container {
  display: flex;
  flex-direction: row;
}
.total-section {
  top: 70px;
  width: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding-top: 30px;
  margin-right: 10px;
  
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: -10px;
  
}
.card-container-e {
  /* display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 30px; */
  padding-top: 10px;
  place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
  flex: 1 0;
  flex-basis: calc(100% - 0px);
  margin: 30px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 20px;
  height: 70vh;
}

/* Css for login and registration  */

.image-container {
  width: 500px;
  margin-top: 20px;
  margin: 30px;
}
.login-image {
  width: 100%;
  height: 300px;
}
.login-form-container {
  width: 50%;
  margin: 30px;
}
.login-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  margin-top: 15px !important;
  height: 50px;
  width: 30%;
  font-size: 16px;
  padding-top: 10px !important;
}

.login-field {
  margin-top: 20px;
  width: 60%;
  height: 60px;
}

.signin-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-button {
  margin-top: 15px !important;
  height: 50px;
  width: 60%;
  margin-bottom: 10px !important;
}

.signin-field {
  margin-top: 20px;
  width: 60%;
  height: 60px;
}

.signin-form-container {
  width: 60%;
  margin: 30px;
}
.signin-image {
  width: 110.6%;
  height: 300px;
}
.register-link {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.heading-l {
  font-size: 30px !important;
  text-align: center;
}
/* Cart Price Css */
.Text-price-1 {
  font-size: 20px !important;
  color: black;
  margin-bottom: 10px !important;
  border-bottom: 1px solid black;
}
.Text-price {
  font-size: 20px !important;
  color: black;
}
/* Profile Css */
.main-container {
  display: flex;
  padding-left: 10%;
}
.profile-photo {
  width: 50%;
  height: 180px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 4rem;
}
.profile-uplod {
  padding: 15px 0px;
  margin-left: 3rem;
}

.container-p {
  margin: 50px;
  height: auto;
  background-color: rgb(226 241 241);
}

.profile-picture {
  height: 180px;
  border-radius: 10%;
}

.social-media {
  place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.s-li {
  text-decoration: none !important;
  color: black;
}
.icons {
  color: blue;
  font-size: 21px;
}
.Profile-heading {
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}
.s-heading {
  text-align: left;
}
.uname {
  text-transform: capitalize;
}
.p-text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 15px;
}

.text-field {
  width: 100%;
  margin-bottom: 20px !important;
  padding-right: 10px !important;
}
.edit-btn {
  margin-top: 10px !important;
  float: right;
  margin-right: 10px !important;
  font-size: 20px !important;
  color: black !important;
}
.update-re {
  background-color: #a2e2c4;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
}

/* footerStyles.css */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #198754;
  color: #fff;
  padding: 2rem;
  margin-top: auto;
  text-align: center;
}
.cl-1 {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}

.column-1 {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-left: 10%;
}

.column-2 {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.text {
  margin-top: 0.5rem !important;
  margin-left: 2rem !important;
  font-size: 15px !important;
  padding-left: 3rem !important;
}
.text-s {
  margin-top: 0.5rem !important;
  margin-left: 2rem !important;
  font-size: 15px !important;
}

.social-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #fff !important;
}
.s-icon {
  margin-left: 2rem;
  margin-top: 5px;
}
.copy-r {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #fff;
}
.Text-copy {
  margin-top: 10px !important;
}
/* popup box css */
.popup-paper {
  border-radius: 1rem !important;
  max-width: 500px !important;
}
.popup-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow-y: hidden !important;
}
.popup-box {
  display: flex;
  flex-direction: column;
  overflow-y: hidden !important;
}
.popup-heading {
  margin-bottom: 10px !important;
  font-weight: bold !important;
}
.popup-text {
  line-height: 2rem !important;
}
.popup-text-p {
  font-weight: bold !important;
  font-size: 15px !important;
}
.popup-text span {
  font-weight: bold;
  margin-right: 0.5rem;
}
/* Product Detail page css */
.product-detail {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5rem;
  margin-bottom: 0.6rem;
}

.product-image {
  flex: 0 0 auto;
  margin-right: 16px;
  padding: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.product-details {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.product-details p {
  margin-bottom: 8px;
}
.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  margin: 0 10px;
  font-size: 0.8rem;
  color: black;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.setting{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@media screen and (max-width: 600px) {
  .card-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    flex-direction: column;
  }
  .page-container {
    display: flex;
    flex-direction: column;
  }
  .total-section {
    margin-top: 5px;
    margin-left: 40px;
    padding-left: 20px;
  }
  .product-detail {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    margin-bottom: -15rem;
  }
  .product-info {
    padding-left: 0rem;
    width: 70%;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 807px) {
  .footer {
    display: flex;
    margin-top: 50%;
    flex-direction: row;
    padding: 1rem;
  }
  .column-1 {
    padding-top: 10px !important;
    flex-direction: row;
    margin-left: 0%;
  }
  .column-2 {
    padding-top: 10px !important;
    flex-direction: column;
    padding-bottom: 5px !important;
  }
  .text-s {
    margin-left: 10px !important;
  }
  .s-icon {
    margin-top: 0;
    margin-left: 0rem;
  }
  .text {
    padding-left: 0rem !important;
    margin-left: -80px !important;
  }
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
    height: 70vh;
  }
  .login-field {
    margin-top: 20px;
    width: 80%;
    height: 60px;
  }

  .signin-field {
    margin-top: 20px;
    width: 80%;
    height: 60px;
  }
  .login-form-container {
    width: 90%;
    margin: -30px;
  }
  .signin-form-container {
    width: 90%;
    margin: -60px;
  }
  .signin-button {
    width: 80%;
    height: 60px;
  }
  .pagination-container {
    flex-wrap: wrap;
  }
  .pagination-button {
    margin-bottom: 10px !important;
  }
  .image-container {
    width: 495px;
  }
  /* Profile Css */
  .main-container {
    display: flex;
    padding-left: 10%;
    flex-direction: column;
  }
  .container-p {
    margin: 50px;
    height: auto;
    background-color: rgb(226 241 241);
    margin-bottom: -14rem;
  }
  .profile-photo {
    width: 50%;
    margin-left: 4rem;
    margin-top: 1rem;
  }

  .social-media {
    margin-top: 10px;
    font-size: 20px;
    padding-bottom: 3rem;
    
  }

  .s-li {
    text-decoration: none !important;
    color: black;
  }
  .icons {
    color: blue;
    font-size: 21px;
  }

  .p-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 0;
    margin-top: 30px;
  }

  .text-field {
    width: 100%;
    margin-bottom: 30px !important;
    padding-right: 10px !important;
  }
  .edit-btn {
    margin-top: 10px !important;
    float: right;
    margin-right: 10px !important;
    font-size: 20px !important;
    color: black !important;
  }
}
@media screen and (max-height: 564px) and (max-width: 528px) {
  .footer {
    margin-top: 55%;
    flex-direction: row;
    padding: 1rem;
  }
}
@media screen and (max-height: 564px) {
  .popup-heading {
    margin-bottom: 1px !important;
  }
  .popup-text {
    line-height: 1rem !important;
  }
}
@media screen and (max-width: 991px) {
  .user-name {
    float: right;
    padding: 5px 15px;
  }
}


